/* .loginInfo {
  grid-area: footer;
  padding-bottom: 2rem;
  padding-top: 0.25rem;
  text-align: center;
} */


.log-in, .log-out{
    padding: 10px;
    background-color: whitesmoke;
    border: 5px;
    color: dimgray;
}

.greeting{
    font-size: 20px;
    font-style: normal;
    color: dimgrey;
    padding-left: 10px;
    padding-right: 10px;
}
