```#App {
  margin-left: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}

#sidebar {
  background: LightGray;
  height: 750px;
  width: 150px;
  position: fixed;
  width: 25%;
  margin-left: 10px;
}

h1#subtitle {
  font-family: 'Times New Roman', Verdana;
  text-align: left;
  padding-left: 10px;

}
